/*font face Nunito*/
@font-face{
	font-family: 'nunito';
	src: url(../fonts/Nunito/Nunito-VariableFont_wght.ttf);
}

*::selection{
	background: seagreen;
	color: #fff;
}

:root{
	--vert: seagreen;
	--noir: #444;
}

*{
	margin: 0; padding:0 ;
	outline: none;
	list-style: none;
	font-family: nunito;
	overflow-x: hidden;
	scroll-behavior: smooth;
	transition: all .3s linear;
}

html,
body{
	font-size: 65%;
	background: #d3d0cb;
}

a{
	color: white;
	text-decoration: none;
}

a:hover{
	color: seagreen;
}

header{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 95vw;
	position: fixed;
	color: #fff;
	background: #333;
	font-size: 2rem;
	padding: 1.5rem;
	z-index: 9999;
	box-shadow: 0px 0px 2px 6px #333;
}

header .logo{
	margin-left: 2.8rem;
}

header .vert{
	color: seagreen;
}

header ul{
	display: flex;
	gap: 2rem;
}

header ul li:hover{
	cursor: pointer;
	color: var(--vert);
	border-bottom: 1px solid var(--vert);
	font-size: 2.1rem;
}

header .fullScreen{
	align-items: center;
	width: 170px;
}

header .fullScreen button{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #1a8e6c;
	width: 100%;
	padding: 1rem;
	font-size: 1.5rem;
	font-weight: 600;
	font-style: italic;
	border: none;
	border-radius: .5rem;
	color: #f5f5f5;
}

header .fullScreen button:hover{
	background: seagreen;
	cursor: pointer;
	color: #f5f5f5;
}



header .fa-bars{
	display: none;
}

main .home{
	padding: 15% 5rem 0;
}

main .home .descri{
	display: flex;
	flex-direction: column;
	width: 500px;
	gap: 6rem;
}

main .home .descri h2{
	width: fit-content;
	border-bottom-left-radius: .5rem;
	padding: 1.3rem;
	border-bottom: 4px solid seagreen;
	border-left: 4px solid seagreen;
	font-size: 5rem;
	color: black;
}

main .home .descri p{
	font-size: 1.8rem;
	color: #444;
}

main .about{
	padding: 12% 56% 0;
}

main .about .punch{
	display: flex;
	flex-direction: column;
	width: 500px;
	gap: 6rem;
}

main .about .punch h2{
	width: fit-content;
	border-bottom-right-radius: .5rem;
	align-self: flex-end;
	padding: 1.3rem;
	border-bottom: 4px solid seagreen;
	border-right: 4px solid seagreen;
	font-size: 5rem;
	color: black;
}

main .about .punch p{
	font-size: 1.8rem;
	color: #444;
}

main .howItWorks{
	padding: 10% 5rem 0 ;
}

main .howItWorks .fonctionnement{
	display: flex;
	flex-direction: column;
	width: 500px;
	gap: 6rem;
}

main .howItWorks .fonctionnement h2{
	width: fit-content;
	border-bottom-left-radius: .5rem;
	padding: 1.3rem;
	border-bottom: 4px solid seagreen;
	border-left: 4px solid seagreen;
	font-size: 5rem;
	color: black;
}

main .howItWorks .fonctionnement p{
	font-size: 1.8rem;
	color: #444;
}

main .feedback{
	display: flex;
	justify-content: space-between;
	gap: 5rem;
	padding: 11% 7% ;
}

main .feedback .feed{
	display: flex;
	flex-direction: column;
	width: 500px;
	gap: 4rem;
	order: 1;
}

main .feedback .feed h2{
	width: fit-content;
	border-bottom-right-radius: .5rem;
	align-self: flex-end;
	padding: 1.3rem;
	border-bottom: 4px solid seagreen;
	border-right: 4px solid seagreen;
	font-size: 5rem;
	color: black;
}

main .feedback .feed p{
	font-size: 1.8rem;
	color: #444;
}

main .feedback form{
	display: grid;
	grid-template-areas: 'nom nom prenom'
						'email email email'
						'comms comms comms'
						'bouton bouton bouton';
	box-shadow: 15px 15px 2px 6px #999;
	border: 1px solid #888;
	border-radius: .6rem;
	padding: 2rem;
	font-size: 1.2rem;
	gap: 1.2rem;
}

label{
	font-size: 1.4rem;
	font-weight: 600;
}

input, textarea, button{
	border: 1px solid #666;
	padding: 1.2rem;
	border-radius: .5rem;
}

main .feedback form div{
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

main .feedback form .inputNom{
	grid-area: nom;
}

main .feedback form .inputPrenom{
	grid-area: prenom;
}

main .feedback form .inputEmail{
	grid-area: email;
	margin-bottom: .1rem;
}

main .feedback form .textarea{
	grid-area: comms;
}

main .feedback form button{
	border: none;
	background: #1a8e6c;
	grid-area: bouton;
}

main .feedback form button:hover{
	cursor: pointer;
	background: seagreen;
}

footer{
	text-align: center;
	padding: 2rem;
}

footer p{
	font-size: 1.4rem;
	color: #555;
}
