/*font face Nunito*/
@font-face{
	font-family: 'nunito';
	src: url(../fonts/Nunito/Nunito-VariableFont_wght.ttf);
}

*::selection{
	background: seagreen;
	color: #fff;
}

:root{
	--vert: seagreen;
	--noir: #444;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #d3d0cb; 
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 2.5rem; /* Couleur de la poignée de défilement */
}

::-webkit-scrollbar-thumb:hover {
    background: seagreen; /* Couleur de la poignée de défilement au survol */
}


*{
	margin: 0; padding:0 ;
	outline: none;
	list-style: none;
	font-family: nunito;
	box-sizing: border-box;
	overflow-x: hidden;
	scroll-behavior: smooth;
	transition: all .3s linear;
}

html,
body{
	font-size: 65%;
	background: #d3d0cb;
}

a{
	color: white;
	text-decoration: none;
}

a:hover{
	color: seagreen;
}

.rouge{
	color: red;
}

header{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100vw;
	position: fixed;
	color: #fff;
	background: #333;
	font-size: 2rem;
	padding: 1.5rem;
	z-index: 9999;
	box-shadow: 0px 0px 2px 6px #333;
}

header .logo{
	padding-right: 35%;
}

header .vert{
	color: seagreen;
}

header ul{
	display: flex;
	gap: 2rem;
}

header ul li:hover{
	cursor: pointer;
	color: var(--vert);
	border-bottom: 1px solid var(--vert);
	font-size: 2.1rem;
}

header .fa-bars{
	display: none;
}

main .home{
	overflow: hidden;
	padding: 13% 5rem 0;
}

main .home .descri{
	display: flex;
	flex-direction: column;
	width: 600px;
	gap: 5.8rem;
}

main .home .descri h2{
	width: 460px;
	border-bottom-left-radius: .5rem;
	padding: 1.3rem;
	border-bottom: 4px solid seagreen;
	border-left: 4px solid seagreen;
	font-size: 5rem;
	color: black;
}

main .home .descri p{
	font-size: 1.8rem;
	color: #444;
}

main .about{
	display: flex;
	justify-content: right;
	padding: 12% 5rem 0;
	overflow: hidden;
}

main .about .punch{
	display: flex;
	flex-direction: column;
	width: 500px;
	gap: 6rem;
}

main .about .punch h2{
	width: fit-content;
	border-bottom-right-radius: .5rem;
	align-self: flex-end;
	padding: 1.3rem;
	border-bottom: 4px solid seagreen;
	border-right: 4px solid seagreen;
	font-size: 5rem;
	color: black;
	overflow-y: none;
}

main .about .punch p{
	font-size: 1.8rem;
	color: #444;
}

.howItWorks{
	overflow: none;
}

main .howItWorks{
	overflow: hidden;
	padding: 12% 5rem 0 ;
}

main .howItWorks .fonctionnement{
	display: flex;
	flex-direction: column;
	width: 500px;
	gap: 6rem;
}

main .howItWorks .fonctionnement h2{
	width: fit-content;
	border-bottom-left-radius: .5rem;
	padding: 1.3rem;
	border-bottom: 4px solid seagreen;
	border-left: 4px solid seagreen;
	font-size: 5rem;
	color: black;
}

main .howItWorks .fonctionnement p{
	font-size: 1.8rem;
	color: #444;
}

main .feedback{
	display: flex;
/*	flex-wrap: wrap;*/
	justify-content: space-between;
	gap: 5rem;
	padding: 12% 5rem ;
}

main .feedback .feed{
	display: flex;
	flex-direction: column;
	width: 500px;
	gap: 4rem;
	order: 1;
}

main .feedback .feed h2{
	width: fit-content;
	border-bottom-right-radius: .5rem;
	align-self: flex-end;
	padding: 1.3rem;
	border-bottom: 4px solid seagreen;
	border-right: 4px solid seagreen;
	font-size: 5rem;
	color: black;
}

main .feedback .feed p{
	font-size: 1.8rem;
	color: #444;
}

main .feedback form{
	display: grid;
	grid-template-areas: 'nom nom prenom prenom'
						'email email email email'
						'comms comms comms comms'
						'bouton bouton bouton bouton';
	box-shadow: 15px 15px 2px 6px #999;
	border: 1px solid #888;
	border-radius: .6rem;
	padding: 2rem;
	margin-left: 2.5rem;
	font-size: 1.2rem;
	gap: 1.2rem;
}

label{
	font-size: 1.4rem;
	font-weight: 600;
}

input:focus, textarea:focus{
	border: 1px solid seagreen;
}

input, textarea, button{
	border: 1px solid #666;
	padding: 1.2rem;
	border-radius: .5rem;
}

main .feedback form div{
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

main .feedback form .inputNom{
	grid-area: nom;
}

main .feedback form .inputPrenom{
	grid-area: prenom;
}

main .feedback form .inputEmail{
	grid-area: email;
	margin-bottom: .1rem;
}

main .feedback form .textarea{
	grid-area: comms;
}

main .feedback form button{
	border: none;
	background: #1a8e6c;
	grid-area: bouton;
}

main .feedback form button:hover{
	cursor: pointer;
	background: seagreen;
}

footer{
	text-align: center;
	padding: 2rem;
}

footer p{
	font-size: 1.4rem;
	color: #555;
}







/*media queries*/

@media screen and (max-width: 1211px){
	html,
	body{
		font-size: 62.5%;
	}
}

@media screen and (max-width: 1015px){
	html,
	body{
		font-size: 60%;
	}
}

@media screen and (max-width: 888px){
	html,
	body{
		font-size: 55%;
	}

	header{
		justify-content: normal;
	}

	header .logo{
		padding-left: 2.5rem;
	}
}

@media screen and (max-width: 822px){

	html,
	body{
		font-size: 52.5%;
	}

	header{
		position: initial;
		justify-content: space-around;
	}

	header .navbar{
		display: none;
	}

	header .navbar.active{
		display: initial;
		position: absolute;
		top: 14%; left: 0; right: 0;
		padding: 14rem;
		background: #999;
		z-index: 999;
		backdrop-filter: blur(220px);
	}

	header .navbar.active ul{
		text-align: center;
		font-weight: 600;
		font-size: 2.7rem;
		gap: 5rem;
		flex-direction: column;
	}

	header .navbar.active ul li a{
		color: #333;
	}

	header .fa-bars{
		display: block;
		font-size: 4rem;
		padding: 1rem 1.6rem;
		color: #f5f5f5;
	}

	header .fa-bars:hover{
		font-size: 4.1rem;
		cursor: pointer;
		color: seagreen;
	}
}

@media screen and (max-width: 790px){

	.feedback{	
		flex-wrap: wrap;
		margin: .5rem auto;
		width: 100%;
		justify-content: center !important;
	}

	.feedback .feed{
		padding: .9rem;
		margin: .1rem auto;
	}

	.feedback .feed h2{
		align-self: center !important;
		border-right: none !important;
	}

	.feedback form{
		order: 2;
	}
}

@media screen and (max-width:626px){

	*{
		margin: 0; padding: 0;
		outline: none;
	}

	html,
	body{
		font-size: 45%;
	}

	section div h2, section div p{
		align-self: center !important;
	}

	section{
		width: fit-content;
	}

	h2{
		border-right: none !important;
		border-left: none !important;
	}
}
